<!DOCTYPE html>
<html>
<head>
  <title>Car Listings</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/listings.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1 class="header">
    <div class="logo">Car Listings</div>
    <div class="back">
      <a href="/">Back</a>
    </div>
  </h1>

  <div>
    <form action="/car_listings" method="post">
      <table class="search-box">
        <tr>
          <td><input type="text" name="search" placeholder="Search Car Model..." class="search-box-field" required></td>
          <td><input type="submit" value="Search" class="search-box-submit"></td>
        </tr>
      </table>
    </form>
  </div>

  <div class="car-wrapper">
    <div class="car-listings">
      <% cars.forEach(function(car) { %>
        <div class="car-listings-card">
          <h2 class="title-font"><%= car.model %></h2>
          <h3 class="content-font"><%= car.brand  %> </h3>
          <p class="content-font">Engine Type: <%= car.engine %></p>
          <p class="content-font">Year       : <%= car.year %></p>
          <p class="content-font">Drivetrain : <%= car.drivetrain %></p>
          <p class="content-font">Type       : <%= car.type %></p>
          <p class="content-font">Weight     : <%= car.weight %></p>
          <p class="content-font">Region     : <%= car.region %></p>
          <h3 class="content-font"><%= car.price %></h3>
        </div>
      <% }); %> 
    </div>
  </div>
</body>
</html>